{% extends 'news/layout.html.twig' %}

{% block row_content %}
    <div class="form-group">
        {{ form_start(form, {'attr': {'novalidate': 'novalidate'}}) }}
        <div class="alert-danger">
            {{ form_errors(form) }}
        </div>
        {{ form_row(form.title) }}
        <div>
            {{ form_label(form.authors) }}
            {{ form_widget(form.authors) }}
        </div>
        {{ form_row(form.content) }}
        {{ form_row(form.publication_date) }}
        {{ form_row(form.image_url) }}
        {{ form_row(form.categories) }}

        {{ form_end(form) }}
    </div>
{% endblock %}